<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EXLAYOUT1</title>
</head>
<body>

<h1>Fragment Test</h1>

<div style="border: 1px solid palevioletred">
    <th:block th:replace="~{/fragments/fragment2}"></th:block>
</div>

<hr/>

<!--  th:replace 이용할 경우 :: 뒤에 fragment 이름 지정하거나 CSS의 '#id'같은 선택자 입력  -->
<h1>Layout 1 - 1</h1>
<div th:replace="~{/fragments/fragment1 :: part1}"></div>

<!--  insert 를 이용하는 경우 div 태그 내에 div가 새로 생성됨  -->
<h1>Layout 1 - 2</h1>
<div th:insert="~{/fragments/fragment1 :: part2}"></div>

<h1>Layout 1 - 3</h1>
<div th:replace="~{/fragments/fragment1 :: part3}"></div>

<hr/>

<!--  :: 이하 생략 시 해당 파일 전체 내용 가져옴  -->
<h1>Layout 1 - 1</h1>
<div th:replace="~{/fragments/fragment1}"></div>



</body>
</html>